body{
	background-color: #4C53C5;
	color: white;
	margin: 0;
}
.bodylandingpage{
	background-image: url('assets/images/landingpagemobile.svg');
	background-repeat: no-repeat;
	background-position: top;
}
*{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
/*Fond*/
@-webkit-keyframes fondfall {
  from{
   	transform: translateY(0)
  }
  to {
    transform: translateY(145vh)
  }
}
.section--background{
	width: 100%;
}
.fond{
	z-index: -100;
	top: -100px;
  	width: 100px;
  	height: 100px;
  	position: fixed;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	animation: fondfall;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.fond--cross{
	background-image: url(assets/images/cross.svg);
}
.fond--circle{
	background-image: url(assets/images/circle.svg);
}
.fond--triangle{
	background-image: url(assets/images/triangle.svg);
}
.fond--desktop{
	display: none;
}

/*Titre*/
.title{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 60px auto 30px auto;
	letter-spacing: -1px;
	width: 300px;
}
.title--small{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	margin: 20px auto;
}
.title--reponse{
	height: 95px;
	margin-top: 50px;
}
.coloryellow{
	color: #F8B83D;
}
.list{
	list-style: none;
	text-decoration: none;
	padding: 0;
}
.list--menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin-top: 50%;
	transform: translateY(-20%);
}
.list-theme{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0;
}
.list--config{
	padding: 0;
	margin: 0;
}
.list--config li{
	display: flex;
	justify-content: space-around;
	color: #4C53C5;
}
.list--config li p{
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0;
	font-weight: 600;
}
.list--playerinhub{
	margin: 0;
	column-rule: 2px solid #4C53C5;
	column-count: 2;
	column-width: 40%;
}
.list--playerinhub li{
	padding: 7px 20px;
}
.value--config{
	width: 50px;
	text-align: center;
}
.list--config li div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100px;
}
.custom--parametre{
	width: 90%;
	border-radius: 20px;
	background-color: white;
	margin: 0 auto;
	padding: 15px 0;
}

.plus{
	background-color: transparent;
	cursor: pointer;
	color: #4C53C5;
	font-weight: 800;
	padding: 0px 5px;
	border: 1px solid #9094D6;
	border-radius: 8px;
}
.moins{
	background-color: transparent;
	cursor: pointer;
	color: #4C53C5;
	font-weight: 800;
	padding: 0px 5px;
	border: 1px solid #9094D6;
	border-radius: 8px;
}
.plus:hover {
    background-color: #f8b83d;
    color: white;
    border: 1px solid white;
}
.moins:hover {
    background-color: #f8b83d;
    color: white;
    border: 1px solid white;
}
.logo--game{
	position: fixed;
	top: 5px;
	left: 10px;
	width: 40px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.compteur--game{
	position: fixed;
	top: 9px;
	left: 65px;
	font-size: 22px;
}
.input--changepage{
	margin: 50% auto 0 auto;
	width: 70%;
}
.inputstyle{
	border-radius: 15px;
	padding: 15px;
	display: block;
	margin: 0 auto;
	outline: none;
	text-align: center;
	font-size: 18px;
	border: 1px solid #a7abee;
	background-color: rgba(255,255,255,0.2);
	color: white;
}
.tutogame{
	padding: 10px 0;
	border: 1px solid #E8B44A;
	background-color: #E8B44A;
	cursor: pointer;
	width: 15%;
	text-align: center;
	color: white;
	font-weight: bold;
}
.tutogame:hover{
	border: 1px solid #E8B44A;
	background-color: white;
	color: #E8B44A;
}
.tuto--dia{
	display: flex;
	margin: 20px 0;
	align-items: center;
}
.tuto--dia .moins{
	color: #F8B83D;
	font-size: 20px;
	padding: 0 8px 0 6px;
	border: 1px solid #F8B83D;
	border-radius: 30px;
}
.tuto--dia .plus{
	color: #F8B83D;
	font-size: 20px;
	padding: 0 6px 0 8px;
	border: 1px solid #F8B83D;
	border-radius: 30px;
}
.tuto--dia .moins:hover{
	color: #4C53C5;
	border: 1px solid #4C53C5;
	background-color: white;
}
.tuto--dia .plus:hover{
	color: #4C53C5;
	border: 1px solid #4C53C5;
	background-color: white;
}


.nondispo{
	border: 1px solid gray;
	background-color: gray;
	color: white;
}
.gamearea{
	position: relative;
	margin: 50px auto 0px auto;
	background-repeat: no-repeat;
	height: 200px;
	width: 90%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #30368E;
	border-radius: 20px;
}
.gamearea--flou{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.gamearea--puzzle{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
}
.gamearea--depixel{
	width: 100%;
	height: 100%;
}
svg { 
	width: 101%;
}

.imgpixelise {
  filter: url("#pixelate");
  width: 100%;
  height: 100%;
}
.chrono{
	font-size: 20px;
	text-align: center;
	margin: 10px 0 30px 0;
}
.synopsisgame{
	font-size: 20px;
	text-align: center;
	width: 70%;
}
.bloc{
	width: 20%;
	height: 20%;
	background-color: black;
	transition-duration: 2s;
}
.bloc--exemple{
	width: 20%;
	height: 20%;
	background-color: black;
	transition-duration: 2s;
}
.bloc--transparent{
	opacity: 0;
}
.animated{
  	animation: zoom;
  	animation-duration: 30s;
  	animation-iteration-count: 1;
 	/*background-size: contain;*/
}
.animated--flou{
  	animation: flou;
	animation-iteration-count: 1;
}
@-webkit-keyframes zoom {

  0% {
    background-size: 900% 900%;
  }
  90% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 200% 200%;
  }
}
@-webkit-keyframes zoomexemple {

  0% {
    background-size: 1300% 1300%;
  }
  90% {
    background-size: 200% 200%;
  }
  91% {
    background-size: contain;
  }
  100% {
    background-size: contain;
  }
}
@-webkit-keyframes flou {
  0% {
   filter: blur(20px);
  }
  20% {
   filter: blur(10px);
  }
  90% {
    filter: blur(0px);
  }
  100% {
    filter: blur(0px);
  }
}
.input--reponse{
  width: calc(90% - 40px);
  display: block;
  margin: 0 auto;
  height: 20px;
  font-size: 20px;
  padding: 15px 20px;
}
.input--reponse::placeholder{
	color: #d1d2db;
}
.miniature{
	text-transform: capitalize;
}
.btn{
  padding: 15px 20px;
  background-color: white;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: 210px;
  color: #4C53C5;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.btn:hover{
  background-color: #F8B83D;
  border: 1px solid #F8B83D;
}
.btn--link{
	display: block;
	margin: 20px auto;
	text-align: center;
	border-radius: 50px;
	padding: 11px 7px;
	font-size: 15px;
}
.btn--link__solo{
	background-color: #F8B83D;
	border: 1px solid #F8B83D;
	width: 140px;
}
.btn--link__solo:hover{
	background-color: white;
	color: #4C53C5;
	border: 1px solid #F8B83D;
}
.btn--submit{
	display: block;
	margin: 30px auto;
}
.btn--validate{
	display: block;
	margin: 30px auto;
}
.btn--gotohub{
	display: block;
	margin: 30px auto;
}
.btn--suivant{
  	display: block;
	margin: 30px auto;
}
.btn--start{
	display: block;
	margin: 30px auto;
}
.btn--terminer{
	display: block;
	margin: 0 auto;
}
.btn--endgame{
	display: block;
	margin: 50px auto 30px auto;
}
.btnretour{
	border: none;
	background-color: transparent;
	position: absolute;
	top: 30px;
	left: 10px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}
.btnmenu{
	font-weight: 800;
	width: 215px;
}
.btn--edit{
	width: auto;
	padding: 10px 25px;
	margin: 0;
}
.scoring{
	text-align: center;
	font-size: 25px;
	display: block;
	margin: 20px auto;
}
.classement--score{
	background-color: #30368E;
	padding: 40px 50px 10px 50px;
	border-radius: 20px;
	width: 60%;
	display: block;
	margin: 0 auto;
}
.newscore{
	text-align: center;
	font-size: 40px;
	display: block;
	margin: 30px auto;
}
.bestscore{
	text-align: center;
	font-size: 40px;
	display: block;
	margin: 30px auto;
}
.newscore span{
	font-weight: bold;
}
.bestscore span{
	font-weight: bold;
}
.paused {
  animation-play-state: paused;
}
.theme{
	padding: 10px 0;
	width: auto;
	padding: 10px 15px;
	text-align: center;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.theme:before{
	content: '';
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 10px;
	background-size: contain;
	background-repeat: no-repeat;
}
.theme:hover{
  color: white;
}
.selected{
	background-color: #F8B83D;
  	color: white;
  	border: 1px solid #F8B83D;
}

.videogame:before{
	background-image: url(assets/images/videogame.svg);
}
.videogame.selected:before, .videogame:hover:before{
	background-image: url(assets/images/videogamewhite.svg);
}
.cinema:before{
	background-image: url(assets/images/movie.svg);
}
.cinema.selected:before, .cinema:hover:before{
	background-image: url(assets/images/moviewhite.svg);
}
.serie:before{
	background-image: url(assets/images/serie.svg);
}
.serie.selected:before, .serie:hover:before{
	background-image: url(assets/images/seriewhite.svg);
}
.cartoon:before{
	background-image: url(assets/images/anime.svg);
}
.cartoon.selected:before, .cartoon:hover:before{
	background-image: url(assets/images/animewhite.svg);
}
.music:before{
	background-image: url(assets/images/music.svg);
}
.music.selected:before, .music:hover:before{
	background-image: url(assets/images/musicwhite.svg);
}
.landingpage{
	margin: 10px 30px;
}
.principe{
	background-color: #34387D;
	border-radius: 80px 0 0 0;
	padding: 40px;
	margin-top: 50px;
}
.loading--screen{
	width: 100%;
	height: 100vh;
	background-color: #4C53C5;
	position: fixed;
	top: 0;
	z-index: 1000
}
.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

.loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

.loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.loading-content {
  border: 3px solid transparent;
  border-top-color: #F8B83D;
  border-bottom-color: #F8B83D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

.loading-content:before {
  border: 3px solid transparent;
  border-top-color: #9094D6;
  border-bottom-color: #9094D6;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

.loading-content:after {
  border: 3px solid transparent;
  border-top-color: #E8B44A;
  border-bottom-color: #E8B44A;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}
.flexhub{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.resumeconfig{
	background-color: white;
	color: black;
	width: 60%;
	border-radius: 20px;
	padding: 15px 0 5px 0;
}
.resumeconfig h2{
	text-align: center;
	color: #F8B83D;
	font-size: 16px;
	margin: 0;
}
.resumeconfig li{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 10px auto;
	text-transform: uppercase;
}
.resumeconfig p{
	margin: 0;
	font-size: 15px;
	font-weight: 600;
	color: #4C53C5;
}
/*exemple*/
.bloctuto{
	position: fixed;
	width: 75%;
	padding: 30px 30px;
	z-index: 100;
	background-color: #9094D6;
	display: block;
	top: 35%;
	transform: translateY(-35%) translateX(-50%);
	left: 50%;
	border-radius: 20px;
}
.bloctuto h2{
	font-size: 20px;
	margin: 0 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.bloctuto h3{
	font-size: 15px;
	margin: 0px 0 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.bloctuto p{
	font-size: 14px;
	margin: 0px 0px 20px 0px;
}
.exemple{
	display: block;
	margin: 0px auto 0px auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 110px;
	width: 65%;
}
.exemple--depixel{
	background-image: url('assets/images/exemplegif.gif');
	display: block;
	margin: 0 auto;
	border-radius: 20px;
}
.exemple--dezoom{
	animation: zoomexemple;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	background-image: url(assets/imagesmovie/8mile.jpg);
	background-position: 10% 60%;
	border-radius: 20px;
}
.exemple--puzzle{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.exemple__puzzle{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	background-image: url(assets/imagesgames/hades.jpg);
	border-radius: 20px;
}
.exemple--synopsis{
	display: flex;
	align-items: center;
	text-align: center;
	padding: 5px;
	background-color: #20234D;
	border-radius: 20px;
}
.exemple--synopsis p{
	font-size: 12px;
	margin: 0 auto;
	width: 90%;
}
.exemple--deflou{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.exemple--deflou__img{
	animation: flou;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	width: 100%;
	height: 100%;
	background-image: url(assets/imagesserie/breakingdbad.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.close--button{
	position: absolute;
	right: 30px;
	top: 30px;
	width: 20px;
	height: 20px;
	background-image: url(assets/images/close.png);
	background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  	border: none;	
  	transform-origin: center;
  	transition: transform 0.4s ease-out;
 	z-index: 10;
 	cursor: pointer;
 	outline-style:none;
}


.playerpresent{
	background-color: white;
	height: 180px;
	width: 90%;
	display: block;
	margin: 10px auto;
	padding: 20px 0;
	color: black;
	border-radius: 20px;
}
.seedgived{
	width: 40%;
	display: block;
	margin: 0 auto;
	background-color: white;
	border: none;
	border-radius: 20px;
	text-align: center;
	padding: 10px 0;
	background-color: white;
	color: black;
	/*background-color: #646464;
	color: #646464;*/
	font-size: 20px;
}
.seedgived:hover{
	background-color: white;
	color: black;
}
.login{
	display: none;
}
.menu{
	display: none;
}
.crearoom{
	display: none;
}
.joinroom{
	display: none;
}
.hub{
	display: none;
}
.game{
	display: none;
}
.classement{
	display: none;
}
body[data-page="login"] .login {
	display: block;
}
body[data-page="menu"] .menu {
	display: block;
}
body[data-page="crearoom"] .crearoom {
	display: block;
}
body[data-page="joinroom"] .joinroom {
	display: block;
}
body[data-page="game"] .game {
	display: block;
}
body[data-page="game"] .section--background {
	display: none;
}
body[data-page="classement"] .classement {
	display: block;
}
body[data-page="hub"] .hub {
	display: block;
}
.error{
	color: red;
}
.hidden{
  display: none;
}
@media (min-width: 700px){
	.title{
		font-size: 60px;
		width: 450px;
	}
	.title--reponse {
	    height: 90px;
	}
	.list--menu {
	    transform: translateY(-50%);
	}
	.custom--parametre {
	    width: 50%;
	}
	.resumeconfig {
	    width: 35%;
	}
	.input--changepage{
		margin: 0 auto 0 auto;
		width: 100%;
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
	}	
	.input--changepage label{
		display: block;
		margin: 20px auto;
		width: 248px;
		text-align: center;
	}
	.playerpresent {
	    width: 74%;
	    margin: 30px auto;
	}
	.classement--score{
		width: 400px;
	}
	.list-theme {
	    margin: 50px auto 30px auto;
	    width: 500px;
	}
	.bloctuto{
		width: 390px;
	}
	.synopsisgame{
		font-size: 25px;
	}
	.gamearea {
	    height: 350px;
	    width: 600px;
	}
	.bodylandingpage {
	    background-position: top;
	    background-size: 100%;
	}
	.landingpage {
	    margin: 10px 60px;
	}
	.principe {
	    padding: 40px 60px;
	}
	.exemple {
	    width: 50%;
	}
	.tuto--dia {
	    margin: 20px auto;
	    width: 50%;
	}
}
@media (min-width: 1100px){
	.bodylandingpage{
		background-image: url(assets/images/landingpagedesktop.svg);	
		background-size: cover;
	}
	.landingpage{
		width: 50%;
		height: 100vh;
		margin: 0 120px;
		position: fixed;
		margin: 0;
	}
	.landingpage .title{
		margin-top: 150px;
	}
	.landingdiv{
		width: 500px;
		display: block;
		margin: 0 auto;
	}
	.landingdiv div{
		display: flex;
		width: 90%;
		margin: 0 auto;
	}
	main{
		display: flex;
	}
	.principe{
		height: 100%;
		padding: 0 100px;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 50%;
		position: fixed;
		overflow: auto;

	}
	.principe h2{
		font-family: 'Montserrat';
		margin-top: 50px;
	}
	.principe p{
		margin: 10px 0;
	}
	.principediv{
		width: 90%;
		display: block;
		margin: 0 auto;
		position: relative;
		height: 100%;
		padding-top: 10%;
	}
	.tuto--dia{
		width: 100%;
		margin-top: 50px;
	}
	.exemple{
		height: 225px;
		width: 400px;
	}
	.exemple--synopsis p{
		font-size: 18px;
		margin: 0 auto;
	}
	.fond--desktop{
		display: block;
	}
	.title--reponse{
		height: 150px;
		width: 600px;
	}
	.list--menu{
		margin-top: 15%;
	}
	.list--theme{
		width: 550px;
	}
	.custom--parametre{
		width: 355px;
	}
	.resumeconfig{
		width: 270px;
	}
	.playerpresent{
		width: 435px;
		margin: 30px auto;
	}
	.input--reponse{
		width: 560px;
	}
	.input--changepage{
		margin: 0 auto 0 auto;
		width: 100%;
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
	}	
	.flexhub{
		width: 510px;
		margin: 0 auto;
	}
	.gamearea {
	    margin: 50px auto 10px auto;
	}
	.seedgived{
		width: 435px;
	}
}